*{
    font-family: 'avenir', sans-serif;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 10px;
  background-color: white;
  border-bottom: 2px solid rgb(34, 31, 83);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  height: 98px;
}
nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
nav ul li {
  margin-left: 15px;
}
nav ul li:first-child img {
  height: 90px;
  width: auto;
  display: block;
  overflow: hidden;
}
nav ul li a {
  text-decoration: none;
  color: rgb(183, 31, 36);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 10px 15px;
}
nav ul li:last-child {
  margin-left: auto;
}
nav ul li:last-child img {
  height: 140px;
  width: auto;
}

/*Hero Section*/
.hero {
  background: rgb(34, 31, 83) url('/static/SEbackground.webp') no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 100vh;
  width: 100vw;
  max-width: 100%; 
  max-height: 100vh; 
  overflow: hidden; 
  border-bottom: 2px solid rgb(34, 31, 83);
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
.hero .overlay .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 70vw;
  margin: auto;
  transform-origin: left;
  animation: reveal 1s ease-in-out forwards;
}
.hero .overlay .content h1 {
  font-size: 90px;
  line-height: 1;
  margin-bottom: 0px;
  color: rgb(255, 255, 255);
  margin-left: 0px;
  transform: translateY(-200px);
}
.hero .overlay .content p {
  font-size: 24px;
  color: white;
}
.hero .overlay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(183, 31, 36);
  z-index: 3;
  animation: reveal 0.5s reverse forwards;
}
.hero .overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(34, 31, 83);
  z-index: 2;
  animation: reveal 0.7s reverse forwards;
  animation-delay: 0.4s;
  transform-origin: left;
}
@keyframes reveal {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

/*Logo Slider*/
.tag-list {
  position: absolute;
  top: 50%;
  left: -445px;
  transform: translateY(-50%) rotate(-90deg);
  width: 100vh; 
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  z-index: 10; 
  background: rgb(34, 31, 83);
}
.loop-slider {
  position: relative;
  width: fit-content;
  overflow: hidden;
}
.loop-slider .inner {
  display: flex;
  width: fit-content;
  animation: loop var(--duration, 30s) linear infinite;
  animation-direction: var(--direction, normal);
  gap: 6rem;
}
.tag {  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.tag img {
  max-width: 150px;
  max-height: 150px;
  object-fit: contain;
}
/* Animations */
@keyframes loop {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/*Product Offerings*/
.expanded-section {
  padding: 2em 0;
  text-align: left;
  border-bottom: 2px solid rgb(34, 31, 83);
  padding-top: 98px;
  width: 100%;
  margin: 0 auto;
}
.section-content h2 {
  font-size: 2.5rem;
  color: #535353;
  padding: 0 40px;
  margin: 0 auto;
  margin-top: 0px;
}
 .se-root h3 {
  font-size: 2.5rem;
  text-align: center;
  color: rgb(34, 31, 83);
}
.section-content p {
  font-size: 1.2em;
  color: #535353;
  line-height: 1.6;
  margin: 0 auto;
  margin-bottom: 1.5em;
  padding: 0 40px;
  text-align: justify;
}
.divider {
  width: 50%;
  margin: 20px auto;
  border: 1px solid rgb(34, 31, 83);
}
.product-offerings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px; 
  padding: 20px;
  flex-wrap: wrap; 
}
.offering {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 150px;
}
.offering-icon {
  font-size: 3rem; 
  color: rgb(34, 31, 83);
  margin-bottom: 10px;
}
.offering p {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

/* Service Offerings Section */
.service-offerings {
  display: grid;
  grid-template-columns: 1fr; 
  grid-template-rows: auto;
  gap: 20px; 
  padding-top: 98px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}
.offering-container {
  display: grid; 
  grid-template-columns: 1fr 2fr; 
  gap: 20px; 
  width: 100%;
}
.offering-container:first-child {
  grid-column: span 2; 
}
.small-box {
  background-color: rgb(183, 31, 36);
  color: white;
  padding: 20px; 
  font-weight: bold;
  font-size: 1.5rem;
  z-index: 2;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 150px; 
}
.big-box {
  background-color: white;
  padding: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
  border: 2px solid rgba(0, 0, 0, 0.1);
  z-index: 1;
  text-align: left;
  display: flex; 
  flex-direction: column; 
  justify-content: flex-start;
  height: auto; 
}
.big-box p {
  font-size: 1rem; 
  line-height: 1.6; 
  margin-bottom: 15px; 
  color: #333; 
  text-align: left; 
}
/* Responsive Grid Layout */
@media screen and (min-width: 768px) {
  .service-offerings {
    grid-template-columns: 1fr 1fr; 
  }

  .offering-container {
    width: 100%;
    grid-template-columns: 1fr 2fr; 
  }
}
@media screen and (min-width: 1200px) {
  .service-offerings {
    grid-template-columns: 1fr 1fr 1fr; /* Three columns layout for even larger screens */
  }

  .offering-container {
    width: 100%;
    grid-template-columns: 1fr 2fr; /* Maintain 1:2 ratio */
  }
}


/*Footer*/
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  background-color: #f1f1f1;
  border-top: 2px solid #ccc;
  font-size: 1rem;
}
.footer-left, .footer-right {
  flex: 0 0 30%; /* Left and right sections take up 30% of the space */
}
.footer-center {
  flex: 0 0 40%; /* Center section takes up 40% */
  text-align: center;
}
.footer-logo {
  max-width: 150px;
  margin-bottom: 10px;
}
.footer-left p, .footer-right p {
  margin: 5px 0;
  font-size: 0.9rem;
}
.footer-right{
    text-align: right;
}
.footer-left a {
  text-decoration: none;
  color: #007BFF;
}
.footer-center p {
  margin-top: 10px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .footer-left, .footer-right {
    flex: 0 0 100%; /* Full width for left and right sections on small screens */
    text-align: center;
  }
  .footer-center {
    flex: 0 0 100%; /* Center section takes full width on small screens */
  }
  .footer-logo {
    max-width: 120px;
  }
  .footer-left p, .footer-right p {
    font-size: 0.9rem;
  }
}
@media (min-width: 270px) and (max-width: 500px) {
  nav {
    padding: 0 1rem; 
    height: 12vh; 
  }
  nav ul li {
    margin-left: 0; 
  }
  nav ul li:first-child img {
    height: 8vh; 
  }
  nav ul li a {
    font-size: 0.5rem;
    padding: 0.5rem .2rem; 
  }
  nav ul li:last-child img {
    display: none;
  }
  .hero{
    display: none;
  }
  .section-content p {
  font-size: .9em;
  color: #535353;
  line-height: 1.6;
  margin: 0 auto;
  padding: 0 10px;
}
.offering-container {
  grid-column: span 2; 
}
.offering-container {
    grid-template-columns: 1fr; /* Ensure only 1 item per row on smaller screens */
  }
  .small-box {
    font-size: 1rem; 
    height: 100px; 
  }
  .big-box {
    padding: 8px; 
  }
  .service-offerings {
    gap: 10px; 
  }
}