<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!--FRED-->
    <iframe style="border: 1px solid #333333; overflow: hidden; width: 400px; height: 700px;" src="https://fred.stlouisfed.org/fred-glance-widget.php?series_ids=DGS10,SOFR,MORTGAGE30US&transformations=lin,lin,lin" height="535" width="320" frameborder="0" scrolling="no"></iframe>
    
    <!--Mortgagenewsdaily.com-->
  <div class="mnd-rates-widget" style="width: 220px; height: 480px; font-size: 12px; ">
    <div class="w-header" style="text-align: center; padding:4px 0;background-color: #336699; color: #FFFFFF;"> <a href="https://www.mortgagenewsdaily.com/mortgage-rates" target="_blank" style="color: #FFFFFF;text-decoration:none;">Home Mortgage Rates</a></div>
    <iframe src="//widgets.mortgagenewsdaily.com/widget/f/rates?t=expanded&sn=true&sc=true&c=336699&u=&cbu=&w=218&h=430" width="220" height="430" frameborder="0" scrolling="no" style="border: solid 1px #336699; border-width: 0 1px;box-sizing:border-box;width:220px;height:430px;display:block;"></iframe>
    <div class="w-footer" style="text-align: center; padding:4px 0;background-color: #336699; color: #FFFFFF;">View More <a href="https://www.mortgagenewsdaily.com/mortgage-rates" target="_blank" style="color: #FFFFFF;text-decoration:none;">Interest Rates</a></div>
  </div>
  
  <!--Tradingeconomics.com-->
  <iframe src="https://tradingeconomics.com/embed/?s=fdtr&v=202501291955V20230410&h=300&w=600&ref=/united-states/interest-rate&type=stepline&d1=2022-02-28&d2=2025-01-29" height="300" width="600" frameborder="0" scrolling="no"></iframe><br />
  
  
</body>
</html>