{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="SimpleCiti - Simplifying the Complex">
    <meta property="og:description" content="Simplifying complex investments in private equity, real estate, and specialty finance with over 125 years of expertise.">
    <meta property="og:url" content="https://www.simpleciti.com">
    <meta name="description" content="SimpleCiti simplifies complex investments in private equity, real estate, and specialty finance with over 125 years of expertise.">
    <meta name="keywords" content="Private Equity, Real Estate, Investment, Finance, Mergers, Acquisitions">
    <meta name="author" content="SimpleCiti">
    <link href="https://fonts.cdnfonts.com/css/avenir" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
    <title>SimpleCiti - Simplifying the Complex</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
<!-- Navigation -->
<section class="headerbackground">
  <nav aria-label="Main Navigation">
    <div class="nav-left">
      <a href="/" class="logo">
        <img src="/static/SSCLogo.svg" alt="SimpleCiti simplifies complex investments in private equity, real estate, and specialty finance with over 125 years of expertise." class="logo-img">
      </a>
      <div class="dropdown">
        <a href="/about/" class="dropbtn">About</a>
          <ul class="dropdown-content">
            <li><a href="/history/">History</a></li>
            <li><a href="/team/">Team</a></li>
            <li><a href="/advisoryboard/">Advisory Board</a></li>
            <li><a href="/tools/">Tools</a></li>
          </ul>
      </div>
    </div>

    <div class="nav-right">
      <a href="/forassetmanagers/" class="nav-link">I'm An Asset Manager</a>
      <a href="/forinvestors/" class="nav-link">I'm An Investor</a>
      <a href="/foradvisors/" class="nav-link">I'm A Wealth Advisor / BD</a>
    </div>
  </nav>

<section class="post-nav">
  <div class="image-container">
    <a href="/SA/" class="center-logo"><img src="/static/sa.png" alt="SimpleAdvisory - Investment Advisory Firm"></a>
    <a href="/SE/" class="side-logo left"><img src="/static/se.png" alt="Simple Equities - Private Equity Investment Firm"></a>
  </div>
</section>
</section>

<!-- Hero Section -->
<section class="hero">
  <div class="hero-subtitle">
    <img src="/static/simpleassetslogo.svg" alt="vertical1" data-target="accordian-1">
    <img src="/static/FMLogo.svg" alt="vertical2" data-target="accordian-2">
    <img src="/static/SimpleFamilyLogo.svg" alt="vertical3" data-target="accordian-3">
  </div>

  <ul class="accordian-main">

    <li class="accordian-list" id="accordian-1">
      <div class="verticals-navbar">
        <a href="#">Borrower</a>
        <a href="#">Tenant</a>
        <a href="#">Property Owner</a>
      </div>

      <div class="section-content">
        <div class="logos-container" data-logos="6">
            <div class="logo-item"><a href="/appraisal/"><img src="/static/SimpleAPPRAISAL.png" alt="SimpleAppraisal - Real Estate Valuations and Appraisals"></a></div>
            <div class="logo-item"><a href="/"><img src="/static/SimpleLEND.png" alt="SimpleLend - Private Securitized Lending Firm"></a></div>
            <div class="logo-item"><a href="/"><img src="/static/SimpleBRICKS.png" alt="SimpleBricks - MultiFamilty and Industrial Development"></a></div>
            <div class="logo-item"><a href="/SS/"><img src="/static/SimpleSPACES.png" alt="SimpleSpaces - Warehouse Suites and Last Mile"></a></div>
            <div class="logo-item"><a href="/SM/"><img src="/static/SimpleMANAGE.png" alt="SimpleManage - Property Management and Accounting Firm"></a></div>
            <div class="logo-item"><a href="/"><img src="/static/SimpleRealtyAdvisors.png" alt="SimpleRealtyAdvisors - Brokerage, Leasing, and Investment Sales Firm"></a></div>
        </div>
      </div>      
    </li>
    
    <li class="accordian-list" id="accordian-2">
      <div class="verticals-navbar">
        <a href="#">Injury Claimant</a>
        <a href="#">Law Firm</a>
        <a href="#">Medical Provider</a>
      </div>

      <div class="section-content">
        <div class="logos-container" data-logos="4">
            <div class="logo-item2"><a href="/"><img src="/static/FortMorganFundingLogo.png" alt="FortMorganFunding - Pre-settlement Funding"></a></div>
            <div class="logo-item2"><a href="/"><img src="/static/FortMorganCAPITALLogo.png" alt="FortMorganCapital - Law Firm Marketing and Growth Capital"></a></div>
            <div class="logo-item2"><a href="/"><img src="/static/FortMorganInjuryLawLogo.png" alt="FortMorganInjuryLaw - Justice Driven Support and Advocacy"></a></div>
            <div class="logo-item2"><a href="/"><img src="/static/FortMorganLIENSLogo.png" alt="FortMorganLiens - Medical Lien Portfolio Acquisitions"></a></div>
        </div>
      </div>
    </li>

    <li class="accordian-list" id="accordian-3">
      <div class="verticals-navbar">
        <a href="#">Capital</a>
        <a href="#">Tax and Estate Planning</a>
        <a href="#">Family Office</a>
      </div>

      <div class="section-content">
        <div class="logos-container">
            <div class="logo-item"><a href="/"><img src="/static/SimpleQOZ.png" alt="SimpleQOZ - Family Office IRS QOZ Holdings"></a></div>
            <div class="logo-item"><a href="/"><img src="/static/SimpleCORE.png" alt="SimpleCORE - Family Office CRE Holdings"></a></div>
            <div class="logo-item"><a href="/"><img src="/static/SimpleAXCS.png" alt="SimpleAXCS - Family Office Venture Capital, Private Equity, HF Holdings"></a></div>
        </div>
      </div>

    </li>
  </ul>
</section>

<!--Sliding Logos-->
<div class="logo-slider">
  <div class="logo-wrapper">
      <div class="logo-track">
          <img src="/static/regulatory.jpg" alt="Regulatory Logos">
          <img src="/static/regulatory.jpg" alt="Regulatory Logos">
      </div>
  </div>
  <div class="logo-wrapper">
      <div class="logo-track">
          <img src="/static/partners.jpg" alt="Regulatory Logos">
          <img src="/static/partners.jpg" alt="Regulatory Logos">
      </div>
  </div>
  <div class="logo-wrapper">
      <div class="logo-track">
          <img src="/static/partners2.png" alt="Regulatory Logos">
          <img src="/static/partners2.png" alt="Regulatory Logos">
      </div>
  </div>
  <div class="logo-wrapper">
      <div class="logo-track">
          <img src="/static/advisors.jpg" alt="Regulatory Logos">
          <img src="/static/advisors.jpg" alt="Regulatory Logos">
      </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="footer-left">
    <p>O: (516) 464-5500</p>
    <p>M: (516) 660-1236</p>
    <p><a href="mailto:Jake@simpleciti.com">Jake@simpleciti.com</a></p>
  </div>

  <div class="footer-center">
    <p>&copy; SimpleCITI Companies 2025 All Rights Reserved</p>
  </div>

  <div class="footer-right">
    <p>900 Stewart Ave, Garden City, New York 11530</p>
  </div>
</footer>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/static/homepage.js"></script>
</body>
</html>
